* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  gap: 10px;
  max-width: 990px;
  margin: 16px auto;
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column;
  width: calc(33.333% - 10px);
}

img {
  margin-bottom: 10px;
  border-radius: 6px;
}

.intersection {
  width: 100%;
  height: 1px;
}

@media (max-width: 600px) {
  .col:last-child {
    display: none;
  }

  .col {
    width: calc(50% - 10px);
  }
}
